<app-heading-title title="Expedientes" />


<div class="h-full">
    <div class="flex">
        <div class="flex-1">
            
        <app-input-search />
        </div>
        <div class="grid-cols-2 mx-10 px-4">
            <button routerLink="new"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                <i class="fas fa-plus"></i> Nuevo Expediente
            </button >
            </div>
       
    </div>
    

    <div class=" h-full flex overflow-x-auto space-x-12 p-4 py-6 ">
         @for (estado of ESTADOS; track $index) {
            <div class="h-3/4 flex-shrink-0 w-1/3   bg-white max-w-sm p-6  border border-gray-700 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h5 class="text-center mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">{{estado | titlecase}}</h5>
                <hr class="mb-4 border-gray-100 border-2">
                <div class="flex flex-col items-center justify-center">
                    @if(exp$ | async; as result){
                        @for (expediente of result.Expedientes; track expediente.nro_expediente) {
                            @if (expediente.estado.toLowerCase() === estado.toLowerCase()){
                                <a (routerLink)="['/expediente',expediente.nro_expediente]"  (click)="expedienteDetails(expediente.nro_expediente)" class="w-full m-0 p-0">
                                    <div class="my-5 cursor-pointer hover:bg-gray-100 flex flex-col items-center justify-center flex-shrink-0  bg-white shadow-md rounded-lg py-2 border-white">
                                        <h2 class="text-xl font-bold text-center">{{expediente.nombre_solicitante}}</h2>
                                        <h1 class="text-center mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-4xl dark:text-white"><span class="text-blue-600 dark:text-slate-600">{{expediente.nro_expediente}}</span></h1>
                                    </div>
                                </a>
                            }
                        }
                    }

                    
                </div>
            </div>
         }
    </div>
</div>
