@if(expediente$ | async; as expediente){

<app-heading-title [subtitle]="'Numero de Expediente: '+id()" [title]="expediente.nombre_solicitante"></app-heading-title>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
        <div>
        </div>
     
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    NOMBRE
                </th>
                <th scope="col" class="px-6 py-3">
                    FECHA
                </th>
                <th scope="col" class="px-6 py-3">
                    VERIFICACIÓN
                </th>
                <th scope="col" class="px-6 py-3">
                    VER ARCHIVO
                </th>
            </tr>
        </thead>
        <tbody>
           
        @for(documento of documentos;track documento.nombre){
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
               
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <div class="ps-3">
                        <div class="text-base font-semibold">{{documento.nombre}}</div>
                        <div class="font-normal text-gray-500">PDF</div>
                    </div>  
                </th>
                <td class="px-6 py-4">
                    <div class="ps-3">
                        <div class="text-base font-semibold">{{documento.fecha}}</div>
                        <div class="font-normal text-gray-500"></div>
                    </div>  
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Verificado
                    </div>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ver</a>
                </td>
            </tr>
        } 
            
        </tbody>
    </table>
</div>

}