<div>
    <app-heading-title [subtitle]="'Numero de Expediente: '+expediente.numeroExpediente" [title]="expediente.nombre"></app-heading-title>
    <div class="flex items-center justify-center w-full">
        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
            <input (change)="onFileSelected($event)" id="dropzone-file" type="file" class="hidden" />
        </label>
    </div>



<div class="relative overflow-x-auto my-10">
    @if (documentos.length > 0) {


    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha
                </th>

            </tr>
        </thead>
        <tbody>
            @for (documento of documentos; track documento.nombre) {


                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        {{documento.nombre}}
                    </th>
                    <td class="px-6 py-4">
                        {{documento.fecha}}
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <div class="flex justify-end">
        <button (click)="onSave()"  class="mx-5 px-4 py-2 mt-4 text-white bg-blue-500 rounded-lg">Guardar</button>
        <button  class="mx-5 px-4 py-2 mt-4 text-white bg-green-500 rounded-lg">Enviar</button>
    </div>
    }
</div>

</div>
