<div class="relative overflow-x-auto rounded-lg border mt-8">
    <table class="w-full text-sm text-left rtl:text-right text-gray-800">
        <thead class="text-xm text-white uppercase bg-gray-700">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha
                </th>
                <th scope="col" class="px-6 py-3">
                    Revisado por
                </th>
                <th scope="col" class="px-6 py-3">
                    Detalles
                </th>
            </tr>
        </thead>
        <tbody>
            @for (moviniento of ultimosMovinientos; track moviniento.nombre) {
                <tr class="bg-white border-b ">
                    <th scope="row" class="font-bold px-6 py-4  text-gray-900 whitespace-nowrap ">
                            {{moviniento.nombre}}   
                        
                    </th>
                    <td class="px-6 py-4">
                        {{moviniento.fecha}}
                    </td>
                    <td class="px-6 py-4">
                        {{moviniento.revisadoPor}}
                    </td>
                    <td class="px-6 py-4">
                        <a class="cursor-pointer">
                            <svg class="ml-4 w-8 h-8 text-gray-800 inline-block" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"/>
                            </svg>
                        </a>  
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>