
<div class="grid grid-cols-12 py-0 my-0">
    <div class="col-span-10 flex flex-col ">
        <h1 class="my-6 text-7xl font-extrabold leading-none tracking-tight text-gray-900">{{title}}</h1>
        @if(subtitle){
            <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-500">{{subtitle}}</h1>
        }
        
    </div>

    <div class="col-span-2">
        <img class="h-auto max-w-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4392bXb5YVGmisRrkAgGOcFrkE0K9IhPvGA&s" alt="image description">

    </div>

    
</div>

<hr class="mb-4 border-gray-700 border-4">

